.playerTurn {
    font-size: 10px;
    text-align: center;
    align-content: center;
    background-color: darkgrey;
    padding-top: 23px;
}

body {
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(90, 167, 170);
}

h1{
    background-color: darkgrey;
    margin: 30px;
}

button{
    align-items: center;
    cursor: pointer;
    line-height: 24px;
    height: 50px;
    width: 50px;
    background-color: cornsilk;
}